.tweet
  .tweet_selection
    %input{:type => :checkbox, :id => tweet.id, :name => "tweet_#{tweet.id}", :value=> tweet.id }
  .tweet_body
    -if @show_twitterer
      %strong
        =link_to tweet.twitterer_name, {:controller => 'favorites', :action => :index, :account => tweet.twitterer_name}, {:title => "view favorites posted by #{tweet.twitterer_name}"}
    -if tweet.twitterer_protected
      %img.lock{:src => "/images/lock_icon.gif", :alt => "protected tweet", :width => "12", :height => "15"}
    %span= tweet.html_text
    %br    
    %span
      =link_to "#{tweet.posted.to_s(:twitter)} #{tweet.utc_offset}", "http://twitter.com/#{tweet.twitterer_name}/status/#{tweet.tweet_id}"
    = link_to "&#9734;", {:controller => 'favorites', :action => :delete, :id => tweet.tweet_id}
    %ul
      -tweet.tags.each do |tag|
        %li
          =tag.name
          %span= link_to "x", {:action => 'remove_tag', :id => tweet.id, :tag => tag.name}, {:title => "remove '#{tag.name}' tag from this favorite"}
