%div.tweet
  -if @show_tweep
    %div.tweep
      =link_to tweet.twitterer_name, {:controller => 'favorites', :action => :tweep, :twitterer => tweet.twitterer_name}, {:title => "view favorites posted by #{tweet.twitterer_name}"}
  %div.tweet_selection
    %input{:type => :checkbox, :id => tweet.id, :name => "tweet_#{tweet.id}", :value=> tweet.id }
  %div.tweet_body
    -if tweet.twitterer_protected
      %img.lock{:src => "/images/lock_icon.gif", :alt => "protected tweet", :width => "12", :height => "15"}
    %span.tweet_text= tweet.html_text
    %span.tweet_date= tweet.posted
    %ul.tags
      -tweet.tags.each do |tag|
        %li
          =tag.name
          %span.remove_tag= link_to "x", {:action => 'remove_tag', :id => tweet.id, :tag => tag.name}, {:title => "remove '#{tag.name}' tag from this favorite"}