#page_head
  =link_to "#{current_user.name}'s favorites", :controller => :favorites
  &nbsp;&gt;&nbsp;
  %h2= "Accounts you have faved"

-@accounts.each do |account|
  %p 
    = link_to account[:name], :controller => 'favorites', :action => 'index', :account => account[:name]
    = "(#{account[:count]})"