.page-header
  - if @tag
    %h2= "Favorites tagged \"#{@tag}\""
  - elsif @account
    %h2= "Favorites from #{@favorites.first.twitterer_name} (#{@favorites.first.twitterer_real_name})"
  - else
    %h2 Favorites

#faves
  - form_tag('/favorites/tag') do
    =render :partial => "navigation"
    
    =render :partial => "tabs"
          
    .timeline    
      .controls
        .control_text
          Actions: 
          =hidden_field_tag :page, params[:page]
          =hidden_field_tag :account, @account
          =hidden_field_tag :tag, @tag
          = select_tag :tag_choices, options_for_select(@tag_options), :onchange => "this.form.submit();"
          %noscript
            =submit_tag :submit
          
      - if @favorites.nil?
        .tweet
          Looks like you have no favorites stored. Maybe you should
          %a{:href => "/favorites/load"}
            load some
      - else
        -@show_tweep = true
        - if @favorites.count < 1
          .tweet
            - if params[:tag]
              You have no favorites tagged #{params[:tag]}
            - if params[:account]
              You have no favorites from #{params[:account]}
        - else
          =render :partial => "tweet", :collection => @favorites

    .page_info
      =render :partial => "navigation"