#page_head
  - if @tag
    =link_to "#{current_user.name}'s favorites", :controller => :favorites
    &nbsp;&gt;&nbsp;
    %h2= "tag: #{@tag}"
  - elsif @account
    =link_to "#{current_user.name}'s favorites", :controller => :favorites
    -if @favorites.first
      &nbsp;&gt;&nbsp;
      %h2= "#{@favorites.first.twitterer_name}"
  - else
    %h2 #{current_user.name}'s favorites

#faves
  - form_tag('/favorites/tag') do
    .page_info
      =render :partial => "navigation"
      
    .controls
      .control_text
        Actions: 
        =hidden_field_tag :page, params[:page]
        =hidden_field_tag :account, @account
        =hidden_field_tag :tag, @tag
        = select_tag :tag_choices, options_for_select(@tag_options), :onchange => "this.form.submit();"
        %noscript
          =submit_tag :submit
            
    .timeline
      - if @favorites.nil?
        .tweet
          Looks like you have no favorites stored. Maybe you should
          %a{:href => "/favorites/load"}
            load some
      - else
        -@show_tweep = true
        - if @favorites.count < 1
          .tweet
            - if params[:tag]
              You have no favorites tagged #{params[:tag]}
            - if params[:account]
              You have no favorites from #{params[:account]}
        - else
          =render :partial => "tweet", :collection => @favorites

    .page_info
      =render :partial => "navigation"
      
=render :partial => "tag_list"