#page_head
  =link_to "#{current_user.name}'s favorites", :controller => :favorites
  &nbsp;&gt;&nbsp;
  %h2= "Your tags"

-@tags.each do |tag|
  %p 
    = link_to tag.name, :controller => 'favorites', :action => 'index', :tag => tag.name
    = "(#{tag.favorites.count})"
    %br
    =link_to "delete", {:action => :delete, :controller => 'tags', :tag => tag.name}, {:title => "delete '#{tag.name}' tag", :class => "delete_tag_link"}