%p
  %a{:href=>"http://twitter.com/"+current_user.login}
    %img{:src=>current_user.profile_image_url}
%p
  = current_user.name + ", "
  = current_user.location
  
%p
  = current_user.favourites_count.to_s + " favourites on Twitter (figure may be cached)"

%p 
  = current_user.favourites.count.to_s + " favourites stored on Favtags"

%div.page_info
  -if @current_page > 1
    =link_to "&lt;&lt; Prev", :controller => :favourites, :action => :index, :page => @current_page - 1
  = "  Page #{@current_page} of #{@max_page}  "
  -if @current_page < @max_page
    =link_to "Next &gt;&gt;", :controller => :favourites, :action => :index, :page => @current_page + 1
  
%div.timeline
  -@show_tweep = true
  =render :partial => "tweet", :collection => @favourites
  
%div.page_info
  -if @current_page > 1
    =link_to "&lt;&lt; Prev", :controller => :favourites, :action => :index, :page => @current_page - 1
  = "  Page #{@current_page} of #{@max_page}  "
  -if @current_page < @max_page
    =link_to "Next &gt;&gt;", :controller => :favourites, :action => :index, :page => @current_page + 1