<!DOCTYPE html>
%html{:lang=>"en-GB"}
  %head
    %title Favtagger
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => "Manage, tag and download your Twitter favourites"}
    %meta{:name => "keywords", :content => "twitter favourites,twitter favorites,tags,tagger,manage favourites,manage favorites"}
    = stylesheet_link_tag "bootstrap.min.css", :media => "screen"
    = stylesheet_link_tag "custom.css", :media => "screen"
    %script{:type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18281510-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .topbar
      .topbar-inner
        .container        
          #usernav
            %h3
              %a{:href => "/favorites", :class => "brand"} Favtagger
              
            - if current_user  
              %span
                %img{:src => current_user.profile_image_url, :height => "20"}
                .text
                  %b
                    =current_user.login
                  =current_user.favorites.count
                  faves loaded
          
            %ul.nav
              - if current_user
                %li
                  =link_to "Account", "/account"
                %li
                  =link_to "Load", "/favorites/load"
                %li
                  =link_to "Log out", logout_url
              - else
                %li
                  =link_to "Log in", login_url
          
  
    %section#main
      .container
        .row
          .span10
            - if current_user && current_user.job_id
              - begin
                - job = Delayed::Job.find(current_user.job_id)
              - rescue
                - job = nil
              - if job
                - if job.failed? and job.updated_at < Time.now - 3600
                  - if job.last_error =~ /Rate limit exceeded./
                    - if current_user.api_calls[:reset_time] > Time.now and current_user.api_calls[:remaining_hits] < 1
                      %div{:class => "alert-message block-message warning"}
                        Twitter API rate limit exceeded :(
                        %br
                        %br
                        = "You should get a fresh set in about #{(current_user.api_calls[:reset_time] - Time.now).to_i/60} minutes"
                  - else
                    %div{:class => "alert-message block-message warning"}
                      Erm, something went wrong while loading your favorites - might be a Twitter thing, might be us. Please try again later
                - elsif !job.failed?
                  %div{:class => "alert-message block-message info"}
                    Refreshing favorites
            = yield

    %footer
      %ul
        %li
          %a{:href=>"http://github.com/lizconlan/favtags"} Source code
        %li
          %a{:href=>"/credits"} Credits