<!DOCTYPE html>
%html{:lang=>"en-GB"}
  %head
    %title Favtags
    %meta{"http-equiv"=>"content-type", :content=>"text/html;charset=UTF-8"}
    = stylesheet_link_tag "http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css"
    = stylesheet_link_tag "screen", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
  %body{:id=>"favtags-heroku-com"}
    #doc.yui-t7
      #hd{:role=>"banner"}
        <a href="http://github.com/lizconlan/favtags"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>
        %h1 Favtags
        %p
          - unless current_user
            = link_to image_tag("twitter_button.gif", :border=>0), login_url
          - else
            = link_to "logout", logout_url
      #bd{:role=>"main"}
        %div.yui-g= yield
      #ft{:role=>"contentinfo"}
        %p
          %a{:href=>"http://github.com/lizconlan/favtags"}
            Fork Favtags on github
