<!DOCTYPE html>
%html{:lang=>"en-GB"}
  %head
    %title Favtagger
    %meta{"http-equiv"=>"content-type", :content=>"text/html;charset=UTF-8"}
    = stylesheet_link_tag "screen", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
  %body
    #outer_container
      #inner_container
        %header
          - if current_user
            #usernav
              %a{:href => "/favorites"}
                %img{:src => "/images/favtagger-logo.gif", :width => "171", :height => "39", :alt => "Favtagger", :border => "0"}
              #nav_options
                %nav
                  =link_to "Settings", "settings_url"
                  =link_to "Load", "/favorites/load"
                  =link_to "Log out", logout_url
          - else
            %a{:href => "/"}
              %img{:src => "/images/favtagger.gif", :width => "376", :height => "100", :alt => "Favtagger", :border => "0"}
              
        #content          
          - if current_user && current_user.job_id
            - begin
              - job = Delayed::Job.find(current_user.job_id)
            - rescue
              - job = nil
            - if job
              .loading_message
                - if job.failed?
                  - if job.last_error =~ /Rate limit exceeded./
                    Rate limit exceeded, come back in an hour or so
                    %br
                    = "(error occured at: #{job.updated_at})"
                  - else
                    Problem connecting to Twitter, please try again later
                    %br
                    = "(error occured at: #{job.updated_at})"
                - else
                  Refreshing favorites  

          = yield

      %footer
        %nav
          %ul
            %li
              %a{:href=>"http://github.com/lizconlan/favtags"} Source code
              %li
                %a{:href=>"/credits"} Credits
            - if current_user
              %li
                %a{:href=>"http://twitter.com/account/connections"} Edit Twitter account connections