<!DOCTYPE html>
%html{:lang=>"en-GB"}
  %head
    %title Favtags
    %meta{"http-equiv"=>"content-type", :content=>"text/html;charset=UTF-8"}
    = stylesheet_link_tag "screen", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
  %body
    #header
      %img{:src=>"/images/favtags.gif", :width=> 388, :height=> 145, :alt=>"Favtags"}

    #section
      = yield

    #footer
      #nav
        %ul
          %li
            %a{:href=>"http://github.com/lizconlan/favtags"}
              Source code
          - if current_user
            %li
              %a{:href=>"http://twitter.com/account/connections"}
                Edit Twitter account connections

            %li= link_to "Log out", logout_url
            %li= link_to "Load", "/favorites/load"

            - if current_user.job_id
              - job = Job.find(current_user.job_id)
              - if job && !job.finished?
                .loading_message
                  - if job.failed?
                    - if job.result =~ /Rate limit exceeded./
                      Rate limit exceeded, come back in an hour or so
                      %br
                      = "(error occured at: #{job.updated_at})"
                    - else
                      Problem connecting to Twitter, please try again later
                      %br
                      = "(error occured at: #{job.updated_at})"
                  - else
                    Refreshing favorites
          - else
            %li= link_to "Log in", login_url
