<!DOCTYPE html>
%html{:lang=>"en-GB"}
  %head
    %title Favtags
    %meta{"http-equiv"=>"content-type", :content=>"text/html;charset=UTF-8"}
    = stylesheet_link_tag "http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css"
    = stylesheet_link_tag "screen", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
  %body{:id=>"favtags-heroku-com"}
    #doc.yui-t7
      #hd{:role=>"banner"}
        - if current_user
          %ul.menu.logged-in
            %li= link_to "<h1>Favtags</h1> / Log out", logout_url
            %li= link_to "<strong>Favourites</strong> / View", "/favourites"
            %li= link_to "/ Load", "/favourites/load"
          -if current_user.job_id
            -job = Job.find(current_user.job_id)
            -if job && !job.finished?
              .loading_message
                Your favourites are currently loading, please be patient!
        - else
          %ul.menu.logged-out
            %li= link_to "<h1>Favtags</h1> / Log in", login_url
      #bd{:role=>"main"}
        %div.yui-g= yield
      #ft{:role=>"contentinfo"}
        %p
          %a{:href=>"http://github.com/lizconlan/favtags"}
            Fork Favtags on github.
          Favtags uses OAuth.
